@import "_vars.sass"

body
  font-family: Raleway-Regular
ul
  list-style: none
a
  text-decoration: none !important

.btn_own
  font-family: Roboto-Regular
  font-size: 15px
  text-transform: uppercase
  background-color: $accent_color
  border: none
  border-radius: 100px
  padding: 15px 65px
  &:hover
    background-color: $accent_color

nav
  font-family: Roboto-Regular
header
  height: 100vh
  background-image: url("../img/header_bg.png")
  background-size: cover
  color: $font_white_color
  padding-top: 38vh
.header_title
  text-align: center
  h1
    font-family: Raleway-Black
    font-size: 75px
    text-transform: uppercase
    margin-bottom: 30px
