@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf); }

@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf); }

@font-face {
  font-family: Raleway-Black;
  src: url(../fonts/Raleway-Black.ttf); }

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf); }

body {
  font-family: Raleway-Regular; }

ul {
  list-style: none; }

a {
  text-decoration: none !important; }

section {
  text-align: center;
  padding: 130px 0;
  font-family: Raleway-Regular;
  font-size: 15px;
  color: #515151; }

.bg_faded {
  background-color: #f3f3f3; }

.section_main_title {
  font-family: Raleway-Black;
  font-size: 33px;
  color: #2d2d2d;
  text-transform: uppercase; }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 50;
  overflow: hidden; }

#page-preloader .spinner {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/ripple.gif") no-repeat 50% 50%;
  margin: -64px 0 0 -64px; }

.btn_own {
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #fff !important;
  text-transform: uppercase;
  background-color: transparent !important;
  border: none;
  border-radius: 100px;
  padding: 15px 65px;
  max-width: 275px;
  margin: auto;
  float: none;
  border: 5px solid #ff5400;
  z-index: 0; }
  .btn_own:hover, .btn_own:visited, .btn_own:focus {
    color: #fff;
    background-color: #ff5400; }

#header_logo, .title_logo_type {
  font-family: Raleway-Regular;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  left: 5%; }
  #header_logo span, .title_logo_type span {
    color: #ff5400;
    font-family: Raleway-ExtraBold; }

.cl-effect-4 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ff5400;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

nav {
  font-family: Roboto-Regular;
  z-index: 30 !important; }

.cd-stretchy-nav.nav-is-visible ul span {
  color: #ff5400; }

header {
  height: 100vh;
  background-image: url("../img/header_bg.png");
  background-size: cover;
  color: #fff;
  padding-top: 35vh; }

.header_title {
  text-align: center; }
  .header_title h1 {
    font-family: Raleway-Black;
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    @media (max-width: 400px) {
      .header_title h1 {
        font-size: 50px; } }

section#services .bullet {
  margin-top: 50px; }
  section#services .bullet .bullet_title {
    font-family: Raleway-Black;
    font-size: 23px;
    color: #2d2d2d;
    text-transform: uppercase; }
    section#services .bullet .bullet_title i {
      margin-right: 10px; }

section#case_study {
  text-align: left; }
  section#case_study .title_logo_type {
    position: static;
    color: #2d2d2d;
    font-size: 25px;
    margin-top: 50px; }
    section#case_study .title_logo_type span {
      color: inherit; }
  section#case_study .btn_own {
    color: #2d2d2d !important;
    margin: 0;
    margin-top: 20px;
    padding: 10px 30px;
    max-width: 200px; }

section#circles {
  text-align: left; }
  section#circles h2 {
    font-family: Raleway-Black;
    font-size: 40px;
    color: #2d2d2d;
    text-transform: uppercase; }
  section#circles ol {
    font-size: 20px;
    padding-left: 20px; }
  section#circles .circle_desc_cont {
    height: 200px; }
  section#circles .circle {
    width: 200px;
    height: 200px;
    border: 5px solid #ff5400;
    border-radius: 50%;
    margin: 0 auto 100px auto;
    text-align: center;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1); }
  section#circles .off_line::after {
    content: '';
    position: absolute;
    top: 200px;
    bottom: 100px;
    width: 5px;
    background-color: #ff5400;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1); }
  section#circles .on_line::after {
    content: '';
    position: absolute;
    top: 200px;
    bottom: 0;
    width: 5px;
    background-color: #ff5400;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1); }
