@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf); }

@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf); }

@font-face {
  font-family: Raleway-Black;
  src: url(../fonts/Raleway-Black.ttf); }

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf); }

body {
  font-family: Raleway-Regular; }

ul {
  list-style: none; }

a {
  text-decoration: none !important; }

.btn_own {
  font-family: Roboto-Regular;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #ff5400;
  border: none;
  border-radius: 100px;
  padding: 15px 65px; }
  .btn_own:hover {
    background-color: #ff5400; }

nav {
  font-family: Roboto-Regular; }

header {
  height: 100vh;
  background-image: url("../img/header_bg.png");
  background-size: cover;
  color: #fff;
  padding-top: 38vh; }

.header_title {
  text-align: center; }
  .header_title h1 {
    font-family: Raleway-Black;
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 30px; }
